header {
    color:rgb(158, 71, 112);
    justify-content: center;
    margin-left: 20px;
    padding: 20px;
}
.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(158, 71, 112);
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidenav a.active {
    background-color: rgb(88, 139, 139);
    color: white;
}
.sidenav a:hover {
    background-color: rgb(88, 139, 139);
    color: white;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
body { 
    background-color: rgb(88, 139, 139);
    margin-left: 80px;
}
h2 {
    width: 220;
    padding: 10px;
    margin-left: 20px;
    font-family: Georgia;
    font-size: 30px;
    color:white;
    text-decoration: dashed;
    text-decoration-line: underline overline;
    text-decoration-color: rgb(158, 71, 112);
    text-decoration-thickness: 8px;
}
form {
    margin-left: 20px;
    padding: 20px;
    color: white;
}
label {
    font-family: Georgia;
    font-size: 20px;            
}
p {
    padding: 10px;
}
footer {
    padding: auto;
    margin-left: 20px;
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    background-color: rgb(158, 71, 112); 
    color: white
}
